{% block title %}

    <div style="display: flex; justify-content: center">
        <img src="{{ static 'threshold_dictator/princeton.png'}}" width="auto" height="100"/>
    </div>

{% endblock %}


{% block content %}

<style>
    .tab {
       display:inline-block;
       margin-left: 80px;
    }

    img {
        max-width: 70%;
        height: auto;
        width: auto\9; /* ie8 */
    }
</style>

<div class="card-body" style="font-size: 14px">
<div id="consent" style="overflow:auto; height:400px;">
    <p>
        TITLE OF RESEARCH: Computational Cognitive Science <br>
        PRINCIPAL INVESTIGATOR: Thomas Griffiths <br>
        PRINCIPAL INVESTIGATOR’S DEPARTMENT: Psychology <br>
    </p>
    <p>
        You are being invited to take part in a research study.
        Before you decide to participate in this study,
        it is important that you understand why the research is being done and what it will involve.
        Please take the time to read the following information carefully.
        Please ask the researcher if there is anything that is not clear or if you need more information.
    </p>
    <p>
        <b><u>Purpose of the research:</u></b>
        <br>
        This project aims to collect data that can be used to evaluate formal accounts of causal learning, categorization,
        and language learning and to track how knowledge about these areas is transformed when passed from person to person.
    </p>
    <p>
        <b><u>Study Procedures:</u></b>
        <br>
        You will be presented with some information (e.g., a written narrative, hypothetical scenarios, or scientific data)
        and will then be asked to make one or more judgments about that information, or decisions based upon it.
        In some cases you will be asked to provide explanations or justifications for your responses,
        typically in the form of a short paragraph.
        The task will not involve deception or emotionally disturbing materials -
        just simple questions about categories, causal relationships, and languages.
        The task you will perform will be one or more of the following:
        1. Being shown a set of members of a category,
        and then asked to indicate which other objects are likely to belong to the category.
        2. Being presented a sequence of pictures or sounds, and being asked to predict the next item in the sequence.
        3. Being told a set of words in a language, and then making judgments about whether other words belong to the language.
        4. Being shown statistical information about the interaction of causes and effects,
        and then making judgments about the causal relationships involved.
        5. Observing a set of events or reading a description or information,
        and then evaluating the probability of events or statements.
        6. Being presented with one or more visual puzzles and re-arranging elements on a screen to solve them.
        7. Being presented with visual stimuli and making a quantitative or qualitative judgment on the basis of said stimuli.
        8. Interacting with one or more participants about shared stimuli using a chat box.
        9. Making a decision about an action to take based on quantitative or qualitative information.
        10. Interacting with other participants in a joint task, or solving a task, making a decision,
        or making a judgment that gets passed down to another participant.
        11. Viewing a video and responding to it.
        12. Being shown a grid, maze, or graph of edges and nodes containing objects that can be moved around with a mouse or the keyboard.
        13. Being shown a list of words and/or pictures, and then being asked to recall them.
        14. Being asked to solve one or more logic puzzles.
    </p>
    <p>
        The answers you provide in the task may be used as stimuli for future participants. However, data that would identify you will not be shared with other participants.
        <br>
        The study duration will vary from 5 to 60 minutes.
    </p>
    <p>
        <b><u>Benefits and Risks:</u></b>
        <br>
        There are no direct benefits to you as a participant; however,
        by furthering our understanding of human cognition,
        this research will benefit society by helping with the development of automated systems
        that can better solve problems that are computationally challenging,
        but that people can solve easily with little formal guidance.
        <br>
        Risks associated with participation in this study are minimal.
        You may feel slight discomfort answering some questions,
        but you may refrain from answering any questions that make you uncomfortable
        and may withdraw your participation at any time even after completing the experiment without penalty.
    </p>
    <p>
        <b><u>Confidentiality:</u></b>
        <br>
        We will not be asking for any personally identifying information, and we will handle responses as confidentially as possible.
        Your name, or your Worker IDs will never be tied to your responses on this survey.
        However, we cannot guarantee the confidentiality of information transmitted over the Internet.
        To minimize this risk, data containing anything that might be personally identifiable (e.g. Worker IDs)
        will be encrypted on transfer and storage and will only be accessible to qualified lab personnel.
        We will be keeping data collected as part of this experiment indefinitely.
        This anonymized data (containing neither Worker IDs nor IP addresses) may be shared with the scientific community and corporate sponsors.
        At the end of the survey you may be asked if you would like to provide your email
        or MTurk ID to be contacted to participate in future studies.
        If you choose to provide this information, you may be contacted for participation in future studies.
    </p>
    <p>
        <b><u>Compensation:</u></b>
        <br>
        For your participation, you will receive [variable payment amount equivalent to $10-$15/hr for both online and in person participation].
        If you are on MTurk or Prolific and for any reason you do not complete the study (e.g. technical difficulties, or a desire to stop),
        we will only be able to pay you if you send an email through MTurk/Prolific,
        or by emailing the researcher, at <a href="cocosci-lab@princeton.edu"> cocosci-lab@princeton.edu </a>.
        If you have any questions about the study, feel free to contact the researcher or the Principal Investigator,
        Thomas Griffiths, at <a href="tomg@princeton.edu"> tomg@princeton.edu </a>.
    </p>
    <p>
        <b><u>Who to contact in case of questions:</u></b>
        <br>
        <ol>
            <li>PRINCIPAL INVESTIGATOR:<br>
                <span class="tab">Dr. Thomas Griffiths</span><br>
                <span class="tab"><a href="tomg@princeton.edu"> tomg@princeton.edu </a></span></li>
                <br>
            <li>If you have questions regarding your rights as a research subject,
                or if problems arise which you do not feel you can discuss with the Investigator,
                please contact the Institutional Review Board at:<br>
                <br>
                <span class="tab">Assistant Director, Research Integrity and Assurance</span> <br>
                <span class="tab">Phone: (609) 258-8543</span> <br>
                <span class="tab">Email: <a href="irb@princeton.edu"> irb@princeton.edu</a></span></li>
                <br>
            <li>I understand the information that was presented and that:
                <br><br>
                <ol type="A">
                    <li>My participation is voluntary, and I may withdraw my consent and discontinue participation in the project at any time.
                        My refusal to participate will not result in any penalty.</li>
                    <br>
                    <li>I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.</li>
                </ol>
            </li>
            <br>
            <li>I hereby give my consent to be the subject of your research.</li>
        </ol>
    </p>
    <p>
        <br>
        <b>This study has been approved by the Institutional Review Board for Human Subjects</b>
    </p>
</div>
</div>


<!--        <div style="display: flex; justify-content: flex-end">-->
<!--        {% next_button label="I consent" %}-->

<!--        </div>-->
<p>
    <div style="display: flex; justify-content: flex-end">
        <button style="
                    color: #fff;
                    background-color: #b08600;
                    border: 1px solid transparent;
                    font-size: 1rem;
                    border-radius: 0.25rem;">

        I CONSENT
        </button>
    </div>
</p>

{% endblock %}