{% block title %}

<!--    <div style="display: flex; justify-content: flex-end">-->
<!--        <img src="{{ static 'intro_deception/mpi.png'}}" width="auto" height="100"/>-->
<!--    </div>-->

    Welcome

{% endblock %}


{% block content %}

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        object {
            width: 60vw;
            height: 50vh; /* Adjust this value as needed */
            border: none;
        }
    </style>

<div>
    <object data="{{ static 'threshold_dictator/consent_form.pdf'}}" type="application/pdf" width="100%" height="200%">
        <img src="{{ static 'threshold_dictator/consent_form.pdf'}}" alt="PDF not found">
        <p>Your browser does not support PDFs. <a href="path/to/your.pdf">Download the PDF</a>.</p>
    </object>
</div>
<div>
    <br>
    <p>
        By clicking “Next”, I confirm that I have read the description of this study and that I give my consent to participate.
    </p>
<!--    <p>-->
<!--        For questions, concerns, or suggestions about this research, please contact: <br>-->
<!--        <a href="mailto:coop@evolbio.mpg.de"> coop@evolbio.mpg.de </a>-->
<!--    </p>-->
<!--    <p>-->
<!--        Charlotte Rossetti <br> Max Planck Institute for Evolutionary Biology, Germany <br>-->
<!--        <img src="{{ static 'intro_deception/signature.png'}}" width="auto" height="100"/>-->

<!--    </p>-->
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}