{{ block title }}

    End of the first part

{{ endblock }}

{{ block content }}

<div style="font-size: 14px">

<div id="first-treat" style="overflow:auto; height:250px;">
    <table class="table">
        <tr>
            <th>Round</th>
            <th>Choice</th>
            <th>Your bonus</th>
            <th>The previous participant's bonus</th>
        </tr>
        {{ for p in player_in_all_rounds }}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>{{ p.get_decision_display }}</td>
            {{ if p.decision == 1}}
            <td>{{ p.cost }}</td>
            <td>{{ p.benefit }}</td>
            {{ else }}
            <td>{{ C.endowment }}</td>
            <td>{{ C.zero }}</td>
            {{ endif }}
        </tr>
        {{ endfor }}
    </table>
</div>

<p style="color:white; font-size: 2px">so same white space</p>

<div class="card bg-light instructions">
    <div  class="card-body">
        <p>
            The round randomly selected for payment is <b>round {{ random_round }}</b>
            Your choice on that round was:
        </p>
            {{ if random_decision == 0 }}
            <div class="card-body">
                <b>Selfish option</b>
            </div>
            <p>
                This means that you will receive <b>{{ payoff }}</b> as a bonus,
                and the previous participant will receive <b>{{ previous_pp_payoff }}</b> as their bonus.
            </p>
            {{ endif }}
            {{ if random_decision == 1 }}
            <div class="card-body">
                <b>Cooperative option</b>
            </div>
            <p>
                This means that you will receive <b>{{ payoff }}</b> points as a bonus,
                and the previous participant will receive <b>{{ previous_pp_payoff }}</b> points as their bonus.
            </p>
            {{ endif }}
    </div>
</div>

    <br>
    <p>
        When you press next, you will start the second part
    </p>

    <div style="display: flex; justify-content: flex-end">
        {% next_button %}
    </div>

</div>

{{ endblock }}