{{ block title }}

Summary of the task

{{ endblock }}

{{ block content }}

<p>
    This was the last round.
</p>
<p>
    Here is a summary of all your choices: <br>
</p>

    {{ if player.treatment == 'treatment'}}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Choice</th>
            <th>Your bonus</th>
            <th>The previous participant's bonus</th>
        </tr>
        {{ for p in player_in_all_rounds }}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>{{ p.get_decision_display }}</td>
            {{ if p.decision == 1}}
            <td>{{ p.cost }}</td>
            <td>{{ p.benefit }}</td>
            {{ else }}
            <td>{{ C.endowment }}</td>
            <td>£0</td>
            {{ endif }}
        {{ endfor }}
        </tr>
    </table>

<p> </p>

<div class="card bg-light instructions">
    <div  class="card-body">
        <p>
            The round randomly selected for payment is <b>{{ random_round }}</b>.
            Your choice on that round was:
        </p>
            {{ if random_decision == 0 }}
            <div class="card-body">
                <b>Selfish option</b>
            </div>
            <p>
                This means that you will receive <b>{{ C.endowment }}</b> points as a bonus,
                and the previous participant will receive <b>£0</b> points as their bonus.
            </p>
            {{ else }}
            <div class="card-body">
                <b>Cooperative option</b>
            </div>
            <p>
                This means that you will receive <b>{{ random_cost }}</b> points as a bonus,
                and the previous participant will receive <b>{{ random_benefit }}</b> points as their bonus.
            </p>
            {{ endif }}
    </div>
</div>

{{ else }}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Choice</th>
            <th>Bonus</th>
            <th>Probability</th>
        </tr>
        {{ for p in player_in_all_rounds }}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>{{ p.get_decision_control_display }}</td>
            {{ if p.decision_control == 1}}
            <td>{{ p.benefit }}</td>
            <td>{{ p.proba_gamble }}%</td>
            {{ else }}
            <td>{{ C.safe_option }}</td>
            <td>100% (for sure)</td>
            {{ endif }}
        </tr>
        {{ endfor }}
    </table>

<p> </p>

<div class="card bg-light instructions">
    <div  class="card-body">
        <p>
            The round randomly selected for payment is <b>{{ random_round }}</b>.
            Your choice on that round was:
        </p>
            {{ if random_decision_control == 0 }}
            <div class="card-body">
                <b>Risky option</b>
            </div>
            <p>
                Since you chose the risky gamble,
                the randomiser button also selected an outcome for that. <br>
                The result of that gamble gives you: <b>{{ payoff }}</b>.
            </p>
            {{ else }}
            <div class="card-body">
                <b>Safe option</b>
            </div>
            <p>
                This means that you will receive <b>{{ C.safe_option }}</b> points as a bonus.
            </p>
            {{ endif }}
    </div>
</div>


{{ endif }}

<br>

    <div style="display: flex; justify-content: flex-end">
        {% next_button %}
    </div>



{{ endblock }}