{{ block title }}

{{ if player.round_number == 1 }}
    Instructions for the first part
{{ else }}
    Instructions for the second part
{{ endif }}

{{ endblock }}


{{ block content }}

<div style="font-size: 14px">

{{ if treatment == 'treatment' }}

<div>
    <p>
<!--         opening_sentence -->
        In this first part,
        we will have you make some "cooperative" decisions—decisions about whether to maximize your own payoff or
        to sacrifice some of your bonus payment to help out another participant.
    </p>
    <p>
        For this part, in each of {{ C.NUM_ROUNDS }} rounds, you’ll choose between two options: “Cooperative” or “Selfish”.
    </p>
    <p>
        The choices you make will affect your bonus
        as well as the bonus of a previous participant who participated in this study,
        as follows:
        <ul>
            <li>
                Selfish option: You receive {{ C.endowment }}, while the previous participant receives {{ C.zero }}.
            </li>
            <li>
                Cooperative option: You receive <u>less</u> than {{ C.endowment }},
                and the previous participant receives <u>more</u> than {{ C.zero }}.
            </li>
        </ul>
        The exact amount you and the previous participant will receive,
        if you choose the cooperative option, will vary each round.
    </p>
    <p>
        Please recall, only one round will be randomly selected for payment.
    </p>
</div>

<br>

<div class="card bg-light instructions">
    <div  class="card-body">
        <h5>Now we will ask some comprehension questions to check your understanding:</h5>
        <p>
            Assume that a given round is selected for payment.
        </p>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>


{{ else }}

<div>
    <p>
        {{ opening_sentence }}
    </p>

    <p>
        In each of {{ C.half_rounds }} rounds,
        you’ll choose between two options: a “risky” option and a “sure thing”.
    </p>

    <p>
        The choices you make will affect your bonus as follows:
        <ul>
            <li>
                Sure thing: You receive {{ C.endowment }}.
            </li>
            <li>
                Risky option: You have a chance of earning more than {{ C.endowment }}.
                But you also might earn nothing.
            </li>
        </ul>
    </p>

    <p>
        The exact amounts you might earn by selecting the risky option
        and the exact probability with which you might earn it will vary each round.
        Only amounts from the chosen round will be added to your bonus.
    </p>
    <p>
        Recall that only one round will be selected for payment.
    </p>
</div>

<div class="card bg-light instructions">
    <div  class="card-body">
        <h5>Please reply to these questions before continuing:</h5>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>

{{ endif }}

<br>
    {{ if player.round_number == 1 }}
    <p>
        When you click the next button, you will immediately start the first round.
    </p>
    {{ else }}
    <p>
        When you click the next button, you will immediately start the second round.
    </p>
    {{ endif }}

    <div style="display: flex; justify-content: flex-end">
        {% next_button %}
    </div>


</div>

{{ endblock }}
