{{ block title }}
Instructions
{{ endblock }}


{{ block content }}

<div>
    <p>
        In this study, we’re exploring how people make cooperative decisions across a series of choices,
        with some conditions changing each time.
    </p>
    <p>
        In each of 20 rounds, you’ll choose between two options: “Cooperative” or “Selfish”.
    </p>
    <p>
        The choices you make will affect your bonus as well as the bonus of a previous participant who participated in this study,
        as follows:
        <ul>
            <li>
                Selfish option: You receive 100 points, while the previous participant receives 0 points.
            </li>
            <li>
                Cooperative option: You receive fewer than 100 points,
                and the previous participant receives more than 0 points.
            </li>
        </ul>
        The exact points awarded will vary each round.
    </p>
    <p>
        These points will be converted to cents and added to your and the previous participant’s bonus payments.
        The “conversion rate” of points to cents will change every round, ranging from 1 to 10 cents per point.
    </p>
    <p>
        Only one round will be chosen to count toward the final bonus.
        The chance of any given round being selected varies,
        ranging from 1% to 10%.
        Only points from the chosen round will be added to your and the previous participant’s bonus payments.
    </p>
    <p>
        On each decision screen, you’ll see all the relevant information for that round,
        including your points,
        the previous participant’s points, the conversion rate,
        and the probability that the round will count.
    </p>
</div>

<br>

<div class="card bg-light instructions">
    <div  class="card-body">
        <h4>Now we will ask some comprehension questions to check your understanding:</h4>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>

<br>
    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{{ endblock }}
