{{ block title }}

Summary of the task

{{ endblock }}

{{ block content }}

<p style="color:white;">{{ call_payment }}</p>

<p>
    This was the last round.
</p>
<p>
    Here is a summary of all your choices: <br>
</p>

{{ if player.treatment == 'treatment'}}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Choice</th>
            <th>Your bonus</th>
            <th>The previous participant's bonus</th>
        </tr>
        {{ for p in player_in_all_rounds }}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>{{ p.get_decision_display }}</td>
            {{ if p.decision == 1}}
            <td>{{ p.cost }}</td>
            <td>{{ p.benefit }}</td>
            {{ else }}
            <td>{{ C.endowment }}</td>
            <td>£0</td>
            {{ endif }}
        </tr>
        {{ endfor }}
    </table>
<br>
<p>
    When you press the randomiser button, one round will be randomly selected.
    The option you chose on that round is the one you and the previous participant will receive as bonus payment.
</p>

{{ else }}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Choice</th>
            <th>Bonus</th>
            <th>Probability</th>
        </tr>
        {{ for p in player_in_all_rounds }}
        <tr>
            <td>{{ p.round_number }}</td>
            <td>{{ p.get_decision_control_display }}</td>
            {{ if p.decision_control == 1}}
            <td>{{ p.benefit }}</td>
            <td>{{ p.proba_gamble }}%</td>
            {{ else }}
            <td>{{ C.safe_option }}</td>
            <td>100% (for sure)</td>
            {{ endif }}
        </tr>
        {{ endfor }}
    </table>

    <p>
        When you press the randomiser button, one round will be randomly selected.
        The option you chose on that round is the one you will receive.
    </p>

{{ endif }}

<p>
    <button name="random_selection" value="randomise" class="btn btn-primary btn-large">Randomise</button>
</p>



{{ endblock }}