{% block title %}
    Quick Survey
{% endblock %}

{% block content %}
<div class="card-body">
    We appreciate feedback.
    If you have any comments on the implementation of this study, or on the user interface, please write it down below.

    {% formfield player.comment_box label='' %}
</div>

<div class="card-body">
    Would you accept to be matched with another participant in order to be the receiver of another decider?
    You would receive the bonus for the receiver from their decisions.
    It would be at no cost to you, the payment would be directly made in Prolific at a later time.

    {% formfield player.being_receiver label='' %}
</div>


    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}
