{% extends 'otree/WaitPage.html' %}
{% load otree static %}


{{ block title }}
    Wait Page
{{ endblock }}

{{ block content }}

{{ if is_dropout }}

    <div>
        <p>You were inactive too long and the program assumed you dropped out. Thus the game was ended.</p>
   </div>

{{ else }}

    {{ if role == 'Sender' }}
    <div>
        <p>
            Please wait while the Receiver makes their choice.
        </p>
        <p>
            This will not take more than 2 minutes.
        </p>
    </div>

    {{ else }}

    <div>
        <p>
            Please wait while the Sender makes their choice.
        </p>
        <p>
            This will take at most 2 minutes.
        </p>
    </div>

    {{ endif }}
{{ endif }}

{{ endblock }}