{{ block title }}
Instructions
{{ endblock }}


{{ block content }}

<div>
    <p>
        There are two players in this task: a <b>Sender</b> and a <b>Receiver</b>.
    </p>
    <p>
        The task is a choice between two boxes: A and B.
        Inside the boxes are the bonuses for both the Sender and the Receiver.
        The box chosen dictates which bonus both players get.
    </p>
    <p>
        The Receiver makes the choice, but they do not know what is inside the boxes.
        The Sender does not make the choice, but they do know the content of the boxes.
    </p>
        The task is made of two steps.
        First, the Sender has the opportunity to send a message to the Receiver recommending one box over the other.
        Then the Receiver sees that message and can chose one of the two boxes.
    </p>
    <p>
        The Receiver is free to chose whichever box they wish, regardless of what the message is.
        Whether the Receiver follows the message or not has no impact on the bonus of either player.
        The payoffs inside the box chosen by the Receiver are the bonus that both of you will receive.
        They are not necessarily the same for each player.
    </p>
</div>

<div class="card bg-light instructions">
    <div  class="card-body">
        <p>
            In this task, you have been assigned the role of: <b>{{ player.role }}</b>
        </p>

        {{ if player.role == C.RECEIVER_ROLE }}
        <p>
            You are the one choosing between box A and box B.
            Before you make your choice, you will get a suggestion from the Sender.
            This suggestion is not binding: it is your choice only in the end.
            Your choice will decide both yours and the Sender's bonus.
        </p>
        {{ else }}
        <p>
            You are the one who knows what the bonuses inside each box are.
            You have to send a message to the Receiver suggesting that they open either Box A or Box B.
            The Receiver is free to use this information or not to chose between the boxes.
            What they decide will set both of your bonuses, regardless of if they followed your suggestion or not.
        </p>
        {{ endif }}
    </div>
</div>

<p></p>

<div>
    <p>
        After you press the "Next" button,
        you will be redirected to a waitroom to be paired with another player who will be the
        {{ if player.role == C.RECEIVER_ROLE }} Sender {{ else }} Receiver{{ endif }}.
        Once you are paired, the task will start immediately.
    </p>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>


{{ endblock }}