{{ block title }}
    Dropouts
{{ endblock }}

{{ block scripts }}


    <style>
        .otree-timer {
            display: none;
        }
    </style>

{{ endblock }}

{{ block content }}

{{ if left_hanging == 1 }}
    <div>
        <p>
            Looks like the participant you were paired with in this round left the study.
            We're really sorry about that.
        </p>
        <p>
            Please continue to the waitpage to start the next round with a new participant.
            You might have to wait a bit for them to finish this round.
        </p>
   </div>

    {{ if role == 'Receiver' }}
    <div>
        <p>
            Given that there was no sender to send a message,
            you will simply be paid the highest of the two possible bonuses for you in this round,
            which is {{ missing_bonus }}/ {{ payoff }}.
        </p>
    </div>
    {{ else }}
    <div>
        <p>
            Given that there was not receiver to make a choice,
            you will simply be paid the highest of the two possible bonuses for you in this round,
            which is {{ missing_bonus }}/ {{ payoff }}.
        </p>
    </div>

    {{ endif }}

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>


{{ else }}
    <div>
        <p>You were inactive too long and the program assumed you dropped out. Thus the game was ended.</p>
   </div>
{{ endif }}

{{ endblock }}