{% extends 'otree/WaitPage.html' %}
{% load otree static %}


{% block title %}
    Wait Page
{% endblock %}

{% block content %}

{{ if role == 'Receiver' }}

<div>
    <p>
        Please wait to be paired with a new participant for the next task.
        This might take a couple of minutes while the other participants finishes the previous task.
    </p>
</div>

{{ else }}

<div>
    <p>
        Please wait while the other participant makes their choice.
    </p>
</div>

{{ endif }}

{% endblock %}>