{{ block title }}

    {{ if player_id == 'even' }}

        Part 2

    {{ else if player_id == 'odd' }}

    Part 3

    {{ endif }}

{{ endblock }}

{{ block styles }}

    <style>

    .fraction-inline {
        display: inline-block;
        position: relative;
        width: 1.4em;   /* smaller square */
        height: 1.4em;
        font-size: 14px;
        margin-left: 8px;
        margin-right: 10px;
        vertical-align: middle;
      }

    .fraction-inline .diagonal-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 140%;
        height: 1px;
        background: black;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .fraction-inline .k-value {
        position: absolute;
        top: 0;
        left: -6px;
        font-size: 0.9em;
        line-height: 1;
    }

    .fraction-inline .denominator {
        position: absolute;
        bottom: 0;
        right: -6px;
        font-size: 0.8em;
        line-height: 1;
    }

    </style>

{{ endblock }}

{{ block content }}

<div style="font-size: 14px">

    {{ if player_id == 'even' }}
    <div>
        {{ include C.intro_template }}
    </div>
    {{ endif }}
    <div>
        <p>
            In this part, <b>you will observe the number of times, out of 20,
            that some other participants chose to cooperate</b> in the first part of this study.
            We want to know how cooperative you think these participants are.
        </p>
        <p>
            To motivate you to think carefully about your ratings,
            <b>you can earn a <u>bonus of {{ C.bonus_ratings }}</u>,
            depending on how far your answer is from the average answer provided by other participants.</b>
            If you are closer than <b>{{ C.percent_accurate }}%</b> of all the other participants,
            you will receive the bonus.
            In particular, if your answer is closer to the average than {{ C.percent_accurate }}% of the other participants,
            on the question that we randomly select for bonus payment, you will receive the {{ C.bonus_ratings }} bonus.
            (As usual, one of your answers from this part will be randomly selected for the bonus payment.)

        </p>
    </div>


<div class="card bg-light instructions">
    <div  class="card-body">
        <h6>Please reply to these questions before continuing:</h6>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>


</div>

    <br>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>

{{ endblock }}