{{ block title }}

    2nd part

{{ endblock }}

{{ block styles }}

    <style>

    .fraction-inline {
        display: inline-block;
        position: relative;
        width: 1.4em;   /* smaller square */
        height: 1.4em;
        font-size: 14px;
        margin-left: 8px;
        margin-right: 10px;
        vertical-align: middle;
      }

    .fraction-inline .diagonal-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 140%;
        height: 1px;
        background: black;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .fraction-inline .k-value {
        position: absolute;
        top: 0;
        left: -6px;
        font-size: 0.9em;
        line-height: 1;
    }

    .fraction-inline .denominator {
        position: absolute;
        bottom: 0;
        right: -6px;
        font-size: 0.8em;
        line-height: 1;
    }

    </style>

{{ endblock }}

{{ block content }}

<div style="font-size: 14px">

    <div>
        <p>
            In this second part, <b>you will observe the outcome of other participants' choices</b> in the previous task.
            The options they faced were drawn from the same distribution as yours in the first part.
            Just like you, these participants could have cooperated between 0 and {{ C.number_of_trials }} times,
            across the {{ C.number_of_trials }} rounds.
            Just knowing how many times they chose to cooperate,
            we want to know how cooperative you think that participant is.
        </p>
        <p>
            Thus, you will be shown the number of times one of our participants chose the cooperative option,
            out of the {{ C.number_of_trials }} rounds, and asked to evaluate how cooperative they are.
            For instance, if a participant chose to the cooperative option for half the rounds, you will see
            <span class="fraction-inline">
              <span class="diagonal-line"></span>
              <span class="k-value">10</span>
              <span class="denominator">{{ C.number_of_trials }}</span>
            </span>.
            If they chose the cooperative option on all rounds, you will see
            <span class="fraction-inline">
              <span class="diagonal-line"></span>
              <span class="k-value">20</span>
              <span class="denominator">{{ C.number_of_trials }}</span>
            </span>.
            And if they chose the cooperative option on all rounds but one, you will see
            <span class="fraction-inline">
              <span class="diagonal-line"></span>
              <span class="k-value">19</span>
              <span class="denominator">{{ C.number_of_trials }}</span>
            </span>.
        </p>
        <p>
            You will see this proportion of cooperative choices <b>for {{ played_rounds }} different participants,
            one per page</b>.
            So, on each page, you will see the number of times a person chose the cooperative option,
            and use a slider to rate, out of 100, how cooperative you think they are.
        </p>
        <p>
            To motivate you to think carefully about your ratings,
            <b>you can earn a <u>bonus of {{ C.bonus_ratings }}</u>,
            depending on how far your guess is from the average guess of other participants.</b>
            If you are closer than <b>{{ C.percent_accurate }}%</b> of all the other participants,
            you will receive the bonus.
            Only one of the {{ played_rounds }} ratings will be randomly selected for that,
            so you should think carefully about each individual rating.
        </p>
        <p> {{ if player_id == 'odd' }}
            But first,
            {{ endif }}
            {{ if player_id == 'even' }}
            After that,
            {{ endif }}
            we will also ask you, for each possible proportion of cooperative choices in the first part,
            how many participants out of 100 do you think choose the cooperative option that amount of times?
            You will get a {{ C.bonus_fraction}} bonus for each of your guesses that is within 1% of the correct number.
        </p>
    </div>

</div>

<div class="card bg-light instructions">
    <div  class="card-body">
        <h5>Please reply to these questions before continuing:</h5>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>

    <br>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>

{{ endblock }}