{{ block title }}

    {{ if player_id == 'even' }}

        Part 2

    {{ else if player_id == 'odd' }}

    Part 3

    {{ endif }}

{{ endblock }}

{{ block styles }}

    <style>

    .fraction-inline {
        display: inline-block;
        position: relative;
        width: 1.4em;   /* smaller square */
        height: 1.4em;
        font-size: 14px;
        margin-left: 8px;
        margin-right: 10px;
        vertical-align: middle;
      }

    .fraction-inline .diagonal-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 140%;
        height: 1px;
        background: black;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .fraction-inline .k-value {
        position: absolute;
        top: 0;
        left: -6px;
        font-size: 0.9em;
        line-height: 1;
    }

    .fraction-inline .denominator {
        position: absolute;
        bottom: 0;
        right: -6px;
        font-size: 0.8em;
        line-height: 1;
    }

    </style>

{{ endblock }}

{{ block content }}

<div style="font-size: 14px">

    {{ if player_id == 'odd' }}
    <div>
        {{ include C.intro_template }}
    </div>
    {{ endif }}
    <div>
        <p>
            In this part, we want you to estimate,
            <b>the fraction of participants who chose the cooperative option 0 times out of their 20 choices,
            1 time out of their 20 choices, 2 times out of their 20 choices, etc.</b>.
            You will get a {{ C.bonus_fraction}} bonus for each of your guesses that is within 1% of the correct number.
            (As usual, one of your answers from this part will be randomly selected for the bonus payment.).
        </p>

        <p>
            For example, if you are asked to estimate the fraction of participants who chose to cooperate on  9 out of their 20 choices,
            and you say 10%, when the correct fraction is 5.7%, you will not be eligible for a bonus from this question.
            However, if the correct answer is 9.2%, you will be eligible for a bonus of $2 from this question,
            which you will receive if this question is the one that is randomly selected for bonus payment.
        </p>
    </div>


<div class="card bg-light instructions">
    <div  class="card-body">
        <h6>Please reply to these questions before continuing:</h6>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>
</div>

</div>

    <br>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>

{{ endblock }}